html {
  background-image: url('http://i.imgur.com/YtOinoC.jpg');
  background-size: 100%;
  background-color: #000099;
  color: #FFFFD1;
  overflow: auto;
}

#ders {
  top: 15%;
  position: absolute;
  text-align: center;
  left: 35%;
      text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

a {
  color: #FFFFD1;
}
.navbar {
  position: absolute;
  top: 30%;
  bottom: 0;
  padding: 10px;
}

td.navlink {

  padding: 15px;
  font-size: 20pt;
  text-align: center;
  font-family: 'Special Elite', cursive;
}

td {
  padding-left: 20px;
}
header {
  font-family: 'Aladin', cursive;
  font-size: 80px;
  font-style: italic;
  color: #FFFFD1;
  position: fixed;
  top: 0%;
  text-align: left;

}

#logo {
  width: 25%;
  height: 12.5%;
  border: 5px solid #000066;
}

#bobble {
  border-radius: 100px;
  width: 10%;
  height: 10%;
  position: relative;
  float: right;
  right: 2%;
  margin-top: 1%;
  border: 5px solid #FFFFD1;
}

#body {

  position: fixed;
  top: 35%;
  right: 2%;
  left: 15%;
}

.blogbar {
  position: relative;
  left: 0%;
  top: 0%;
}

.bloglink {
  display: inline;
  border: 2px solid #6CDAFF;
  padding: 3px;
  margin: 5px;
  border-radius: 10px 10px 0 0;
  font-family: 'Special Elite', cursive;
  font-size: 10pt;
  background-color: black;
}

.blue {
  background-color: black;
  color: #6CDAFF;
}


#bio {
  display: inline-block;
  position: absolute;
  font-family: 'Special Elite', cursive;
  line-height: 150%;
  height: 350px;
  overflow: auto;
  border: 2.5px solid #FFFFD1;
  border-radius: 5px;
  padding: 15px;
        text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    background-color: white;
  opacity: 0.7;
}


#profilepic {
  width: 175px;
  height: 175px;
  margin-right: 50px;
  margin-left: 100px;
  border-radius: 50px;
  border: 3px solid #FFFFD1;
  display: inline;
}

.social {
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 20pt;
  margin-left: 100px;
  margin-top: 20px;
  left: 15%;
  top: 45%;

}

.social img {
  width: 100px;
  height: 100px;
  border: 5px solid #000066;
  border-radius: 100px;
  background-color: white;
}
.social #resume {
  width: 200px;
  height: 100px;
  border: 5px solid #000066;
  border-radius: 25px;
  background-color: white;
}

.social a {
  color: #000099;
}

#github {
  position: relative;
  text-align: center;
  left: 25%;


}

#pic {
  font-size: 64pt;
  position: absolute;
  top: 20%;
  font-family: Aladin;
  font-style: italic;
  vertical-align: middle;
  left: 22.5%;
  margin-left: 100px;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.footer {
  position: fixed;
  bottom: 0%;

}

#blogwelcome {
  position: absolute;
  padding: 20px;
  text-align: center;
  font-size: 24pt;
  color: #0000A3;
  background-color: #FFFFD1;
  font-family: 'Special Elite', cursive;
  top: 47%;
  left: 25%;
  border-radius: 25px;
  border: 1px solid #33CCFF;
  opacity: 0.8;
}

#blog {
position: relative;
  color: #0000A3;
  background-color: #FFFFD1;
  font-family: 'Special Elite', cursive;
  overflow: auto;
  height: 300px;
  width: 70%;
  margin-top: 24%;
  left: 17.5%;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #33CCFF;
  opacity: 0.85;
}
 h1 {
  font-family: 'Special Elite', cursive;
  text-align: center;
  font-size: 54pt;
        text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
 }

 .project {
  display: inline;
  margin-left: 200px;
  font-family: 'Special Elite', cursive;
  padding: 15px;
  text-align: center;
  font-size: 24pt;
        text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
 }