html {
  background-color: #0D2299;
  color: #FFFFD1;
}

a {
  color: #FFFFD1;
}
.navbar {
  position: absolute;
  top: 30%;
  bottom: 0;
  padding: 10px;
}

.navlink {

  padding: 15px;
  border: 5px solid #FFFFD1;
  text-align: center;
  font-family: Verdana;
}

.header {
  font-family: Arial;
  font-size: 80px;
  font-style: italic;
  color: #FFFFD1;
  position: fixed;
}

#logo {
  width: 25%;
  height: 12.5%;
  border: 5px solid black;
}

#bobble {
  border-radius: 100px;
  width: 10%;
  height: 10%;
}

#body {
  position: fixed;
  top: 35%;
  right: 2%;
  left: 15%;
}

#blogbar {
  position: relative;
  left: 15%;
}

.bloglink {
  display: inline;
  border: 2px solid #6CDAFF;
  padding: 3px;
  margin: 5px;
}

.blue {
  color: #6CDAFF;
}

.group {
  margin-top: 5px;
  margin-bottom: 5px;
}

#profilepic {
  width: 200px;
  height: 200px;
  margin-right: 100px;
  border-radius: 15px;
  border: 3px solid #FFFFD1;
}

.social {
  display: inline-block;
  width: 30%;
  height: 10%;
  font-size: 20pt;
  margin: 10px;
  margin-top: 60px;
  left: 15%;
  top: 45%;
}

#github {
  margin-left: 30%;
}

#pic {
  font-size: 36pt;
  padding-bottom: 25px;
  top: 0;
  font-family: Courier;
  font-style: italic;
}

.footer {
  position: fixed;
  bottom: 0%;

}

#blogwelcome {
  position: relative;
  padding-top: 20px;
  text-align: center;
  color: #6CDAFF;
  font-size: 24pt;
  font-family: Courier;
}

#blog {
  color: #6CDAFF;
  font-family: Courier;
  overflow: auto;
  height: 300px;
  margin-top: 15px;
}